{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
<a>Главная страница</a>
<main class="container mt-4">
    <!-- Список статей -->
    {% for post in posts %}
    <div class="article mb-4">
        <!-- Имя автора -->
        <p class="article-author">{{ post.author.name }}</p>

        <!-- Заголовок статьи -->
        <h2 class="article-title">{{ post.title }}</h2>

        <!-- Содержимое статьи -->
        <p class="article-content">{{ post.content }}</p>

        <!-- Дата и отметки "нравится" -->
        <div class="article-footer d-flex justify-content-between align-items-center">
            <span class="article-date text-muted">{{ post.creation_date }}</span>
            <div class="d-flex align-items-center">
                <span class="article-likes me-2">
                    <span class="badge bg-primary">{{ post.likes_count }}</span> Нравится
                </span>
                <!-- Кнопка "нравится" -->
                <form method="POST" class="d-inline">
                    <input type="hidden" name="form_type" value="like_post">
                    <input type="hidden" name="liked_post_id" value="{{ post.id }}">
                    <button type="submit" class="btn btn-primary btn-sm">Нравится</button>
                </form>
                <!-- Кнопка "Комментарии" -->
                <a href="{{ url_for('post_page', post_id=post.id) }}" class="btn btn-primary btn-sm ms-2">Комментарии</a>
            </div>
        </div>
    </div>
    <hr> <!-- Разделитель между статьями -->
    {% endfor %}
</main>

<!-- Подключение Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

{% endblock %}